@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap');

html, body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.9px;
  margin: 0px;
  padding: 0px;
}

#modal {
  background:#31313a;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  box-shadow: 0 5px 10px 2px rgba(10, 31, 49, 1);
  overflow: auto;
  overscroll-behavior: contain /* Prevent SCROLL-CHAINING to parent elements. */
}

#root {
  background-color: rgba(10, 31, 49, 0.83);
}

@media all and (max-width: 1050px) {

  .welcomeHeader h1 {
    font-size: 3em;
  }

  .welcomeHeader h2 {
    font-size: 2.4em;
  }

}
